*{
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes dropIn {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.drop-in-animation {
  animation: dropIn 1.5s ease forwards;
}
@keyframes slideLeft{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

.slideLeft{
  animation: slideLeft 1s ease-out;
}

@keyframes slideRight{
  0% {
    opacity: 0;
    transform: translateY(100px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}

}



@keyframes text1{
  0%, 80%{
    color: #ff0000;
  }

  20%{
    color: #555;
    font-size: 0.85em;
  }

  40% , 100%{
    color: black;
  }

  60%{
    color: #555;
  }
}

@keyframes vibrate {
  0% { transform: translateX(-2px) rotate(-2deg); }
  25% { transform: translateX(2px) rotate(2deg); }
  50% { transform: translateX(-2px) rotate(-2deg); }
  75% { transform: translateX(2px) rotate(2deg); }
  100% { transform: translateX(0) rotate(0); }
}




/* navigation bar */
.navp {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 20px 20px 50px 10px rgb(52, 196, 206) inset;
}

.navp ul{
  display: flex;
}

.navp li{
  list-style: none;
  margin-left: 40px;
  font-size: 30px;
}

.navp ul li a {
  text-decoration: none;
  color: black;

  transition: all 0.9s;
}

  
.navp ul li a:hover {
  color: #ff0000;
  font-size: 33px;

  transition: all 0.05s;
}


.logo1 img{
  border-radius:60%;
  margin-right: 5%;
}


.logo1{
  display: flex;
  align-items: center;
}

.homep {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 35px;
    height: 600px;
    background-color: rgb(206, 235, 247);

}

.homep img {
    border-radius:60%;
    border: 7px solid white;
    margin-right: 15%;
    margin-bottom: 40px;
    box-shadow: 20px 20px 50px 15px grey;
}

.homep button {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.9s;

}

.homep button:hover{
  color: #ff0000;
  border: 1px solid #ff0000;
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px #ff0000;

  transition: all 0.05s;


}

.homep p {
    padding-right: 20px;
    font-size: 1.2em;
}

#slideright{
  font-weight: 200;
  text-align: center;
}
#text1{
  animation: text1 4s;
  font-weight: 100;
  font-size: 5.5em;
}


/* About Us section */
 .homep h1 {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: 50px;
}


#btn2 {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

    /*animations*/
    transition: all 0.9s;

}

#btn2:hover{
  color: #ff0000;
  background-color: white;
  border: 1px solid #ff0000;
  box-shadow: 2px 2px 5px #ff0000;

  /* animations */
  transform: translateY(-5px);
  transition: all 0.05s;



}


#btn2 a{
  text-decoration: none;
  color: black;

}

#btn2 a:hover{
  color: #ff0000;
  transform: 1.0s;
}

.aboutp{
  margin-top: 15px;
}

.aboutp h1{
  font-size: 20px;
}

.aboutp h2{
  font-size: 60px;
}

.aboutp1{
  display: flex;
  height: 400px;
}

.aboutp1 button{
  display: flex;
  margin-bottom: 5px;
}

#abtp{
    color: #555;
}

.abtp1{
  border-left: 1px solid black;
  height: 250px;
  left: 50%;
  margin-left: -3px;
  padding-left: 10px;
  margin: 30px;
}

.abtp1 p{
  font-size: 1.0rem;
  margin-bottom: 5px ;

}


.img2{
  display: flex;
  justify-content: center;
  /* box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.3); */

}

/* services */
.missionp img{
    border-radius:60%;
    border: 4px solid white;
    /* box-shadow: 20px 20px 50px 15px grey; */


}
.missionp h3{
    font-size: 20px;
}
.textp{
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
   
}

#titlep{
    text-align: center;
}



.leftp{
    display: flex;
    justify-content: space-between;
}
.leftp div{
    margin: 20px;
    margin-top: 20px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 2px rgb(187, 182, 182); */
    background-color: rgb(206, 235, 247);
    box-shadow: 20px 20px 50px 15px grey;
    padding: 8px;
}

.leftp img{
  transition: all 0.9s;

}
.leftp img:hover{
    cursor: pointer;
    border-radius:60%;
    border: none;
    box-shadow: 5px 5px 10px 2px #ff0000;
    transition: all 0.05s;


}

#titlep{
    margin-left: 20px;
    font-size: 3.0em;
}
.sectionp h3{
    font-size: 2.0em;

}


 .learnmorep{
      margin: 20px;
      margin-top: 20px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px 2px rgb(187, 182, 182);
 }

 .motivationp{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 .motivationlist {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .motivationlist li {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
   
  }
  .emoji{
    font-size: 3rem;

  }
  #submitbtnp{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.9s;

  }
  
  #submitbtnp:hover{
    color: #ff0000;
    background-color: white;
    border: 1px solid #ff0000;
    box-shadow: 2px 2px 5px #ff0000;

    transform: translateY(-5px);
    transition: all 0.05s;
  

  }
  .contact-section h2{
    text-align: center;
  }

.contact-container{
  display: flex;
  justify-content: space-around;
}


.contact-form textarea {
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(206, 235, 247) ;
    transition: all 0.9s;


}

.contact-form textarea:hover{
  border: 1px solid #ff0000;
  box-shadow: 2px 2px 5px #ff0000;
  transition: all 0.05s;

  
  
}

  .contact-form input {
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
}

#subject option{
  color: #555;
}

#subject{
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(206, 235, 247) ;
  margin-top: 10px;
  padding: 8px;
  background-color: white;
  transition: all 0.9s;



}

#subject:hover{
  border: 1px solid #ff0000;
  color: #ff0000;
  box-shadow: #ff0000;
  cursor: pointer;

  transform: translateY(-5px);
  transition: all 0.05s;


}


.contact-form input,
.contact-form textarea{
  animation: vibrate 0.3s ease-in-out;
  animation-iteration-count: 2;
}



.slideshow{
  display: flex;
}
.slideshow img{
  margin: 40px;
  box-shadow: 2px 2px 5px #ff0000;

  


}

/* .social-media-container{
  display: flex;
  justify-content: space-between;
} */


.social-media-icons{
  display: flex;
  list-style: none;
  margin: 10px;
  margin-left: 17px;
}

.social-media-icons img{
  margin: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(206, 235, 247) ;

  transition: all 0.9s;


}

.social-media-icons img:hover{
  box-shadow: 2px 2px 5px #ff0000;


  transform: translateY(-5px);
  transition: all 0.05s;


}
.contact-info-container h3{
  margin-left: 70px;

}

.contact-info{
  list-style: none;
  margin: 30px;
}

.contact-info img{
  margin: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(206, 235, 247) ;

  transition: all 0.9s;


}

.contact-info img:hover{
  box-shadow: 2px 2px 5px #ff0000;

  transform: translateY(-5px);
  transition: all 0.05s;



}


/* 
.slideshow {
  animation: blinker 8.5s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}  */

/*Footer*/
footer {
  background-color: #555;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentp {
  margin-bottom: 20px;
}

.contentp h3 {
  font-size: 1.5em;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-logo,
.footer-contact {
  text-align: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.footer-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 5px;
}

.contact-info li img {
  margin-right: 5px;
  vertical-align: middle;
}

.footer-info p {
  font-size: 0.9em;
  margin-top: 10px;
}

/*Footer*/



.scroll-to-top{
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 5%;
  box-shadow: 2px 2px 5px rgb(206, 235, 247);
  transition: all 0.9s;

  /* mix-blend-mode: difference; to make the button change color as you scroll for visibility */

}
 .scroll-to-top:hover{
  color: #ff0000;
  background-color: white;
  border: 1px solid #ff0000;
  box-shadow: 2px 2px 5px #ff0000;
  transition: all 0.05s;


 }






  



 @media (max-width: 768px) {
    .leftp {
      display: grid;
      grid-template-columns: auto auto;
    }
    
    .leftp div {
      margin: 20px auto;
      margin-left: 1.0em;
    }
  }
  
  @media (max-width: 480px) {
    .sectionp h3 {
      font-size: 1.5em;
    }
  }
  @media(max-width: 360px){
    .leftp {
        display: grid;
        grid-template-columns: auto auto;
      }

  }
  
  


/* styling for aboutus.html */
#approachp ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

